{% extends "base.html" %}
{% block title %}New Members{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    {% include 'sidebar.html' %}
    <div class="span10">
      {% if users|length > 0 %}
      <table class="table ">
      <thead>
        <tr>
          <th></th>
          <th>Account Name</th>
          <th>Full Name</th>
          <th>Student Number</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% if error %}
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error:</strong> {{ error }}
          </div>
        {% endif %}
        {% if success %}
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ success }}
        </div>
        {% endif %}
    
        <form action="/admin/newusers" method="POST">
            {% for user in users %}
                <tr>
                  <td><button type="submit" class="btn btn-mini" value="{{ user.id }}" name="create">Create</button></td>
                  <td>{{ user.username }}</td>
                  <td>{{ user.firstname }} {{ user.lastname }}</td>
                  <td>{{ user.studentnumber }}</td>
                  <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                  <td><button type="submit" class="btn btn-mini btn-danger" value="{{ user.id }}" name="delete">Delete</button></td>
                </tr>
            {% endfor %}
        </form>
      </tbody>
    </table>
    {% else %}
    <p>There are no new members to approve - get recruiting!</p>
    {% endif %}
    </div>
{% endblock %}