{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    {% include 'sidebar.html' %}
  <div class="span10">
    <div class="row">
      <div class="span5">
        <form id="form" class="form-horizontal" action="/changepassword" method="post">
          <fieldset>
            <legend>Change Password</legend>
            <div class="control-group">
              {% if error %}
                <div class="alert alert-error">
                  <strong>Error:</strong> {{ error }}
                </div>
              {% endif %}
              {% if success %}
              <div class="alert alert-success">
                  {{ success }}
              </div>
              {% endif %}
              <label class="control-label" for="oldpassword">Old Password</label>
              <div class="controls">
                <input type="password" class="input-xlarge required" name="oldpassword" id="oldpassword">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="newpassword">New Password</label>
              <div class="controls">
              <input type="password" class="input-xlarge required" name="newpassword" id="newpassword" minlength="8">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="confirmpassword">Confirm Password</label>
              <div class="controls">
              <input type="password" class="input-xlarge required" name="confirmpassword" id="confirmpassword">
              </div>
            </div>
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">Update Password</button>
            </div>
          </fieldset>
        </form>
      </div><!--/span-->
			<div class="span4 offset1">
			<h3>Note</h3>
			<p>This password will be used for all GeekSoc services. Please choose something secure.</code></p>

			</div>
    </div><!--/row-->
  </div><!--/span-->
{% endblock %}