{% extends "base.html" %}
{% block title %}Join GeekSoc{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="span6 offset3" style="text-align: center">
          <!-- <h1 style="font-size:40px;">Join GeekSoc</h1> -->
          <form class="form-horizontal well" id="form" action="/register" method="post">
            <fieldset>
              <legend>Join GeekSoc</legend>
                  <br />
                  <p>Thank you for joining GeekSoc {{ name }}. An administrator will activate your account as soon as they confirm that you have paid the membership fee. You will receive an email when this happens.</p>
                  <p><a href="/" class="btn btn-primary">Login &rarr;</a></p>
            </fieldset>
          </form>
        </div>
    </div>
{% endblock %}