<div class="span2">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header"><img src="http://www.gravatar.com/avatar/{{ currentuser.email|md5 }}?s=20&d=mm" /> {{ currentuser.username }}</li>
      <li><a href="/dashboard"><i class="icon-user"></i> Details</a></li>
      <li><a href="/changepassword"><i class="icon-lock"></i> Change Password</a></li>
      <li><a href="/managekeys"><i class="icon-file"></i> SSH Keys</a></li>
      
      {% if config.elections %}
      <li class="nav-header">Elections</li>
      <li><a href="/elections/nominate"><i class="icon-bullhorn"></i> Nominate</a></li>
      {% endif %}
      
      {% if currentuser.isAdmin %}
      <li class="nav-header">User Administration</li>
      <li><a href="/admin/adduser"><i class="icon-plus"></i> Add User</a></li>
      <li><a href="/admin/edit"><i class="icon-pencil"></i> Edit User</a></li>
      <li><a href="/admin/listusers"><i class="icon-th-list"></i> List Users</a></li>
      <li><a href="/admin/groups"><i class=" icon-tags"></i> Groups</a></li>
    
      <li class="nav-header">New Members</li>
      <li><a href="/admin/newusers"><i class="icon-inbox"></i> Approve Members</a></li>
      {% endif %}
    </ul>
  </div><!--/.well -->
</div><!--/span-->
